language: go
go:
- '1.10'
install:
- go get github.com/onsi/ginkgo/ginkgo
- go get github.com/onsi/gomega
- git fetch origin 'add-cloudstack':'add-cloudstack'
- cp -R $HOME/gopath/src/github.com/orange-cloudfoundry/bosh-bootloader/bin $HOME/gopath/src
- git branch -v -a
- git checkout add-cloudstack
- cd $HOME/gopath/src/github.com
- mv orange-cloudfoundry cloudfoundry
- mv $HOME/gopath/src/bin $HOME/gopath/src/github.com/cloudfoundry/bosh-bootloader/bin
- cd $HOME/gopath/src/github.com/cloudfoundry/bosh-bootloader
- bin/versionning
script:
- echo "no test"
after_success:
- bin/build_all
deploy:
  provider: releases
  api_key:
    secure: GjojZOdPEARbTQvuuRtjrRpQpHhsMbgr2GkiNjM415hrWx9CJrubMDatHJ7mitjaGRNZkpjw5ih2w5nqM0x4yN9H5QmkmSESFvNmS3+A4LTkqN+6BFb91C2ct+IaoDRBTjixPUicWG7nV7VKoM29P2JgXNZQQcZ+dBzgr/vYl2fgwnUD6pCRd5Rejlg+P9OyeeHk510ejSPdY4AgJB774mMDguHWGEhkckwc3g6IhuUAQ5PF06Yo2Vs43SWSgNLtw8DWhjd893x79s+AZvALTXb696mcvh+pI6J2/gr6RwkmnW0D1B613EkJXB4SzAnHpMXwfKHwZv3C/Cmm9Ozb23kZaIRrwpk6UVyRnx6a5U6R7A+g6n8ScUWDfUMwiO3h3Uf3eIlhgO0yvkb6YRXQUy90sMBj0264VM8TO1fq3Qv14GXzemTk65P7ecPYXPmy02Z59Z1Ps0YCw6XWbMmGMVXEKJEcXyqaG0vllVZVT8Y8DRB/M1jqR7A4gnzdsWwKhe019jJDxYLMNCvCGtbeqsDSblhkPamv+wY9CjksEMufrZ6uBi8Ke5KdsmpfyLDE0kX7TI0iXKzgg686RouzILPEn6T16+yGdXSapNAkSAxbWQEmXPFI/jOyJGvJW0cx5Nq8R/K9J1muxFNclaM8CqLQv3MEQljgoqiWqdTWoyM=
  file:
  - out/bbl_darwin_amd64
  - out/bbl_linux_amd64
  - out/bbl_windows_amd64.exe
  skip_cleanup: true
  on:
    tags: true
  
